/* @tailwind base;
@tailwind components;
@tailwind utilties; */

.app {
  display: flex;
}
.Topbar_Routes_container {
  flex-grow: 1;
}
.border {
  border: 1px solid red;
  padding: 1rem;
}
.xx {
  padding: 100px;
}
