@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import '../theme.js'; */

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1000px;
  background-color: #c1c1c1;
}

::-webkit-scrollbar-track {
  background-color: #525252;
}

/* Firefox and other browsers */
/* Customize the scrollbar width and color */
/* Note: Firefox does not support customizing the track color directly */
/* You can use scrollbar-color to set thumb and track colors */
/* Example: scrollbar-color: thumbColor trackColor; */
/* body {
  scrollbar-width: thin;
  scrollbar-color: #a0a0a0 #f0f0f0;
} */

.app {
  display: flex;
}

.drawerComponenet {
  position: fixed;
  right: 0;
  border: 1px solid rgb(40, 168, 18);

  width: 30rem;
  background-color: #333;
  color: white;
  border-radius: 1rem;
  height: 95vh;
  padding: 20px;
  box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  overflow: auto;
}
.border {
  border: 1px solid red;
  /* padding: 1rem; */
}
.border1 {
  border: 1px solid rgb(89, 209, 42);
  /* padding: 1rem; */
}

.danger {
  color: #ff7782;
}
.button {
  padding: 0.6rem;
  color: #ff7782;
  background-color: rgb(25, 70, 70);
  display: inline-block;
  border: 1px solid rgb(116, 221, 29);
  margin: 0.2rem;
}
.button:hover {
  cursor: pointer;
}

.XX {
  top: 0;
}
.xxx {
  color: red;
}
.YY {
  position: absolute;

  top: 0;
  right: 0;
  zoom: 3;
  border: 1px solid rgb(40, 168, 18);
}

.box {
  padding: 1rem;
  border: 1px solid #a6b3ce;
}

.hover:hover {
  /* margin: 1rem; */
  border: 1px solid #a6b3ce;
  background-color: #ff7782;
  color: #d4a6a4;
}
.ol {
  list-style-type: decimal;
}
.ol li {
  margin: 0 0 0.5rem 1rem;
}
.primaryColor {
  color: #ffbb55;
  font-weight: 700;
}
.primaryColor1 {
  color: #ffbb55;
  font-weight: 700;
}
