@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../theme.js';
.app {
  display: flex;
}

.border {
  border: 1px solid red;
  /* padding: 1rem; */
}
.xx {
  padding: 100px;
}
.danger {
  color: #ff7782;
}
